{% extends "template.twig" %}

{% block head %}
<script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
{% endblock %}

{% block title %}
SPAJAM 2014 Nani-Kore
{% endblock %}

{% block navbar %}
{% endblock %}

{% block container %}

<style>
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
</style>
<div class="row">
  <div class="col-md-9">
    
  </div>
  <div class="col-md-3">
    
  </div>
</div>

{% endblock %}
