{% extends "template.twig" %}

{% block head %}
<script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
{% endblock %}

{% block title %}
Nani-Colle? by 朝風呂ブラザーズ
{% endblock %}

{% block navbar %}
{% endblock %}

{% block container %}

<style>
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
</style>

<div class="row text-center">
	

</div>

{# <div class="row">
  <div class="col-md-12">
	  <iframe src="/wireframe/" id="wireframe" ></iframe>    
	  <form action="/upload" method="post" enctype="multipart/form-data">
		<input type="file" name="image" /><input type="submit" value="submit">
	  </form>
  
 </div> 
</div>
 #}

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">


<img src="/assets/header.png" style="width: 100%" />


<hr>

<div class="text-center">
<iframe src="//player.vimeo.com/video/100083839" width="620" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>	
</div>

<hr>

<h3>Nani-colle?</h3>

<p>外国人の視点からみた「ナニコレ?」を、早打ちクイズというエンターテインメントに転換する2つのアプリです。</p>
<p>海外から日本に来た観光客向けアプリ「Nani-colle?」は、「和式便器」「立ち食い蕎麦」「メイド喫茶」など、「なにこれ?」「どうしたらいいの?」な日本の光景をカメラで取ってアップロードすると、1分以内に回答が届く日本観光お助けアプリ。日本人向けの「ナニコレ?」は、日本や日本文化に関する写真と質問に対して、素早く回答する早打ちクイズです。</p>

<p>このアプリは<a href="http://www.spajam.jp/">SMARTPHONE APP JAM</a> 2014 本戦出場チーム「朝風呂ブラザーズ」が、2014年6月4日〜6日の36時間で開発したものです。</p>

<h4>Webデモ</h4>

<p>早打ちクイズ「ナニコレ?」を体験していただけるWebデモをこのサイトで用意しています。サーバの実装には express + socket.io を使っています。最終プレゼンテーションでは会場や審査員の方々にクイズを楽しんでいただく予定です。 (プレゼンテーションの内容は<a href="https://www.dropbox.com/s/hlv8beohzxe33sl/asabro-spajam2014.pdf">こちらから</a>ダウンロードできます。)
</a></p>


<h4>実装</h4>
<p>2つのアプリは iOS 向けに実装しました。どちらも機能はほぼ完全に実装していますが、クイズの回答者が質問者から評価を受け取る部分のみ未実装です。サーバのバックエンドは express + socket.io を用い、100名以上の接続を実証確認しています。SPAJAM2014の最終プレゼンテーションでも同時接続のパフォーマンスを実証します。</p>

<p>ソースコードは<a href="https://github.com/asabro/nanikore" target="_blank">github</a>で公開しています。</p>

<h4>スクリーンショット</h4>

<div class="row">
<div class="col-md-3 text-center"><img src="/assets/ss/ss1.png" width="130" alt=""></div>
<div class="col-md-3 text-center"><img src="/assets/ss/ss2.png" width="130" alt=""></div>
<div class="col-md-3 text-center"><img src="/assets/ss/ss3.png" width="130" alt=""></div>
<div class="col-md-3 text-center"><img src="/assets/ss/ss4.png" width="130" alt=""></div>
</div>

<div>&nbsp;</div>

<div class="row">
<div class="col-md-4 text-center"><img src="/assets/ss/ss5.png" width="130" alt=""></div>
<div class="col-md-4 text-center"><img src="/assets/ss/ss7.png" width="130" alt=""></div>
<div class="col-md-4 text-center"><img src="/assets/ss/ss6.png" width="130" alt=""></div>
</div>

<h4>プレゼンテーション</h4>

<div style="height:525px">
<script async class="speakerdeck-embed" data-id="fdc462a0e7f9013142e73ac59e4418fe" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
</div>

<h4>クレジット</h4>

<p>伏見遼平, 村上晋太郎, 宗像悠里 (チーム名: 朝風呂ブラザーズ)</p>	
</div>
	<div class="col-md-2"></div>

</div>



{% endblock %}
