body {
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: black;
}

#quesitonImage{
	width: 160px;
	height: 160px;
	position: absolute;
	top: 55px;
	left: 80px;
	background-color: white;
	border-radius: 10px;
}

#inner-wrapper{
	position: absolute;
	width: 320px;
	height: 540px;
	background-image: url("/assets/jp_question.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

.countDownView{
	position: absolute;
	top: 0px;
	text-align: center;
	width: 100%;
	height: 100%;
	font-size: 10em;
	font-weight: bold;
	background-color: black;
	color: white;
}

.waitView{
	position: absolute;
	top: 0px;
	text-align: center;
	padding: 10px;
	padding-top: 100px;
	width: 100%;
	height: 100%;
	font-size: 2.7em;
	font-weight: bold;
	background-color: black;
	color: gray;
}


#restTimer{
	position: absolute;
	left: 256px;
	top: 64px;
	font-size: 1.5em;
	font-weight: bold;
}

#userCounter{
	position: absolute;
	left: 270px;
	top: 180px;
	font-size: 1.25em;
	font-weight: bold;
}

#questionText{
	position: absolute;
	left: 100px;
	top: 250px;
	font-size: 1.2em;
	font-weight: bold;
	font-family: sans-serif;

}

#answerArea{
	width: 250px;
	height: 50px;
	padding: 0 0.3em;
	position: absolute;
	top: 313px;
	left: 0px;
	font-size: 1.2em;

	background-color: black;
	color: white;
}

#sendButton{
	width: 68px;
	height: 50px;
	top: 313px;
	left: 250px;
	text-align: center;
	position: absolute;
	background-color: black;
	color: yellow;
	font-weight: bold;
	padding: 7px 0;
	font-size: 1.3em;
}

#answersView{
	position: absolute;
	top: 365px;
	font-size: 1em;
	padding: 10px;
	width: 100%;
	color: white;
}

#answersView .answer{
	height: 60px;
	width: 100%;
}

#answersView .answer .answerName{
	text-align: right;
	font-size: 70%;
	color: gray;
}
